{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block body %}
<h1> Основная страница</h1>
    <p>
        Привет всем!
        
        Это мой первый блог на моем первом сайте. Я очень рад начать это новое 
        приключение в своей жизни. Я никогда не думал, что буду писать блоги, но я решился попробовать, и посмотреть, что из этого получится.
        Я собираюсь писать о моих интересах, которые включают в себя путешествия,
         книги, и фотографию. Я люблю путешествовать и исследовать новые места,
          и я надеюсь поделиться своими опытами со всеми вами. Я также люблю читать книги, 
          и я буду делиться рецензиями на свои любимые книги. А также я буду выкладывать некоторые свои фотографии, которые я сделал во время своих путешествий.
        Я надеюсь, что вам понравится мой блог. Я буду стараться писать интересные и увлекательные статьи. 
        Если у вас есть какие-то предложения или вопросы, пожалуйста, свяжитесь со мной, и я буду рад ответить на них.
        Спасибо, что заглянули на мой сайт!</p>
        <div class="container mt-5">
          <h1>Статьи</h1>
    {% for el in articles %}
    <div class="articles"></div>
    <h2>{{ el.id }}</h2>
            <h2>{{ el.title }}</h2>
            <h3>{{ el.intro }}</h3>
            <h4>{{ el.text }}</h4>
            <h2>{{ el.date }}</h2>
         ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------+
    {% endfor %}
  </div>
{% endblock%}